@charset "utf-8";

main {
    width: 80%;
    max-width: 800px;
    margin: auto
}
main, footer, header, article, section, div{
    border: 1px solid black
}

table, td, th {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: 50px auto 50px;
}

img{
    width: 100%;
}

.hatter:hover{
    background: lightblue;
}

#bal, #jobb{
    margin: auto;
}